@model IEnumerable<AlphaFoodies.Models.MenuItem>

@{
    ViewBag.Title = "ViewMenu";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>ViewMenu</h2>

<div class="container">
    
    @foreach(var menuItem in Model)
    {
            var image_Source = string.Format("data:image/gif;base64,{0}", Convert.ToBase64String(menuItem.Picture));
            var alt_Text = menuItem.Item_Name;
            <div class="item-container">

                <div class="_image">
                    <img src="@image_Source" id="actual_Picture"alt="@alt_Text" />
                </div>

                <div class="item_text">
                    <span class="item_name">@menuItem.Item_Name</span>
                    <span class="price">R @menuItem.Price</span>
                </div>

                <div class="_icons">
                    <i class='bx bxs-trash-alt'></i>
                    <i class='bx bxs-pencil'></i>
                </div>

            </div>
    }

</div>
