* {
    padding: 0;
    margin: 0; 
    margin-top:0px;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh
}
.btn {
    background-color: #d55c5c;
    color: white;
    font-family: Montaga;
    padding: 3px 8px 3px 8px;
}
    .btn:hover {
        color: white;
        width: 40%;
        height: 100%;
    }
#logo {
    width: 65px;
    height: 90px;
    margin-left: 20px;
} 
#logo-words {
    margin-left: 30%;
    margin-right: 15px;
    margin-top:24px;
    height: 40px;
}
#exit-icon{
    font-size: 40px;
    margin-left: 390px;   
    margin-top:25px; 
    opacity:0.5;
}
#exit-icon:hover{
    margin-top:20px;
    font-size:45px;
    cursor:pointer;
}
#logout {
    margin-left: -20px;
    margin-top: 17px;  
    height: 20px;
    font-size: 18px; 
    border: 2px solid #b19b8c; 
    background-color: #000000; 
    color:white;
} 

#logo-container {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    background-color: #E56E5E;
    border: 2px solid #ffffff;
    padding-left: 10px;
    padding-right: 10px;  
}
.search-container {
    margin-left: 72%;
    margin-top: 15px;
    height: 30px; 
    display: block;
    max-block-size:300px;
}
#search-box {
    width: 200px;
    height: 30px; 
    padding-left: 15px;  
    border: 2px solid #e56e5e;
    border-radius:5px;
}
#search-box:active{
    border:0px;
}
#submit-btn{ 
    max-width:65px; 
    margin-left:-3px;
    margin-bottom:4px;
}
#search-icon {
    font-size: 24px;
    height: 30px;
    width: 30px;
    margin-left: 2px;
}
#search-icon:hover{    
    height:40%;
    width:40%;
    color:white;
}
#found-msg {
    background-color: #d55c5c; 
    filter:opacity(0.9);
    border: 2px solid rgb(234 185 167 / 1);
    border-radius: 5px; 
    margin-left: 18%;
    display:inline-block;
    height: 27px;
    word-break: break-word;
    color: white;
    font-family: Montaga;
    padding: 3px 8px 5px 8px;
    font-size:17px;
}   
#found-msg:hover{
    cursor:not-allowed;
}
.view_menu_container { 
    margin-left:0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

.item-container {
    display: flex;
    margin: 10px;
    flex-direction: column;
    width: 260px;
    height: 380px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.25);
    padding: 15px 15px;
    align-content:center;
}

.imageContainer {
    width: 230px;
    height: 230px;
}

#actual_Picture {
    width: 100%;
    height: 100%;
}

.item_text {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #000000;
    font-family: Poppins; 
}

.item_name {
    line-height: 22px;
    font-family: Montaga;
    font-size: 18px;
    font-weight: 500;
}

.price {
    font-family: Montaga;
    line-height: 22px; 
}
#add-to-cart-btn {
    margin-left: 35%;
}
#view-cart-container {
    margin-left: 86%;
    top:85%;
    position: fixed;
    background-color: #d55c5c; 
    border: 2px solid rgb(234 185 167 / 1);
    border-radius: 3px;
    display: block;
    word-break: break-word;
    color: white;
    font-family: Montaga;
    padding: 3px 15px 5px 15px; 
    max-height:40px;
}
#view-cart-container:hover{
    cursor:pointer; border-end-end-radiust4arg
}
#view-cart{
    color:white;    
    font-size:18px;  
    margin-bottom:10px;
    display:inline-block;
}
#cart-icon{
    margin-left:3px;
    margin-top:3px;
    font-size:25px;
    opacity:0.5; 
}

